﻿@{
    ViewData["Title"] = "Home Page";
}
<style>
    .photos {
    text-align:center;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/1.jpg" alt="ASP.NET" class="img-responsive" 
                 style="background-size: cover; background-position: center top; width: 1300px; height: 495px;"
                 />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/2.jpg" alt="Visual Studio" class="img-responsive" 
                 style="background-size: cover; background-position: center top; width: 1300px; height: 495px;"
                 />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/3.jpg" alt="Microsoft Azure" class="img-responsive" 
                  style="background-size: cover; background-position: center top; width: 1200px; height: 495px;"
                 />
            <div class="carousel-caption" role="option">
             </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <br>
        <img src="//www.e-bedding.co.uk/wp-content/uploads/2016/07/pillows-4.jpg" alt="Plz refresh to reload photo" width="262" height="262">
        <br>
        <p class="photos"><a asp-area="" asp-controller="Items" asp-action="Index" asp-route-category="Pillow" asp-route-itemband="">PILLOWS</a></p>
    </div>    
    <div class="col-md-3">
        <br>
        <img src="//www.e-bedding.co.uk/wp-content/uploads/2016/11/Refinery-So-Soft-Duvet.jpg" alt="Plz refresh to reload photo" width="262" height="262">
        <br>
        <p class="photos"><a asp-area="" asp-controller="Items" asp-action="Index" asp-route-category="Duvet"  asp-route-itemband="">DUVETS</a></p>
</div>
    <div class="col-md-3">
        <br>
        <img src="//www.e-bedding.co.uk/wp-content/uploads/2016/11/Refinery-Sealy-Response-Topper.jpg" alt="Plz refresh to reload photo" width="262" height="262">
        <br>
        <p class="photos"><a asp-area="" asp-controller="Items" asp-action="Index" asp-route-category="Topper"  asp-route-itemband="">TOPPERS</a></p>
</div>    
    <div class="col-md-3">
        <br>
        <img src="//www.e-bedding.co.uk/wp-content/uploads/2016/11/butterfly-lace-no-usm.jpg" alt="Plz refresh to reload photo" width="262" height="262">
        <br>
        <p class="photos"><a asp-area="" asp-controller="Items" asp-action="Index" asp-route-category="Bedding"  asp-route-itemband="">BEDDING</a></p>
</div>
</div>

<div style="float:right;font-size:larger"><a asp-area="" asp-controller="Items" asp-action="Index">View All</a></div>