﻿<h2>Admin Management Page</h2>
<ul>
    <li><a asp-area="" asp-controller="Items" asp-action="Manage">Manage items</a></li>
    <li><a asp-area="" asp-controller="Chart" asp-action="Manage">Manage Chart</a></li>
    <li><a asp-area="" asp-controller="Report" asp-action="Manage">Manage Report</a></li>
    <li><a asp-area="" asp-controller="UploadFiles" asp-action="Upload">Manage resources</a></li>
 </ul>
