@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav">
    <li><a asp-area="Identity" asp-controller="Chart" asp-action="Index">Chart</a></li>
    <li><a asp-area="Identity" asp-controller="Report" asp-action="Index">Payment History</a></li>
</ul>
    }
    else
    {
    <ul class="nav navbar-nav">
        <li>@*<a asp-area="Identity" asp-page="/Account/Register">About</a>*@</li>
        <li><a asp-area="Identity" asp-controller="Home" asp-action="About">About</a></li>
    </ul>
    }
