﻿@model IEnumerable<e_bedding.Models.ChartModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Shopping Chart";
}

<h2>Shopping Chart</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<p id="reid" style="display:none;">@ViewData["ReleasedID"]</p>
<p id="redate" style="display:none;">@ViewData["ReleasedTime"]</p>
@if (SignInManager.IsSignedIn(User))
{
    <p id="username" style="display:none;">@UserManager.GetUserName(User)</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.userEmail == @UserManager.GetUserName(User))
            {   
        <tr class="prices">
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                <button><a asp-action="Delete" asp-route-id="@item.ID" class="del_btn">Delete</a></button>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
<div style="font-size:18px;float:right;">
    <b>Total Price of Chart: $</b>
    <b id="total_price">0</b>
</div>
<div style="font-size:18px;">
    <button id="payfor" type="button" class="btn btn-success" onclick="gen(this)">Make Payment</button>
</div>


<script>
    var pp = document.getElementsByClassName("prices");
    var sum = 0;
    for (i = 0; i < pp.length; i++) {
        var sp = pp[i];
        var each_p = parseInt(sp.cells[3].innerText);
        sum += each_p;
    }
    document.getElementById("total_price").innerText = sum;
</script>

<script>
    function clear() {
        var delbtns = document.getElementsByClassName("del_btn");
        var token = $('@Html.AntiForgeryToken()').val();
        for (i = 0; i < delbtns.length; i++) {
            var del_btn = delbtns[i];
            var url = del_btn.href;
                try {
                    $.post(url, {
                        "__RequestVerificationToken": token,
                    })
                }
                catch (err) {
                    alert(err.message);
                }
        }

    }
</script>

<script>
    function gen(btn) {
        //var reportid = document.getElementById("reid").innerText;
         var metd = "Visa";
         var report_prc = sum;
        var date = document.getElementById("redate").innerText;
        var username = document.getElementById("username").innerText;
         var token = $('@Html.AntiForgeryToken()').val();
        try {
            $.post('/Report/Create/', {
                //ID: reportid,
                PaymentMethod: metd,
                Price: report_prc,
                ReleasedTime: date,
                userEmail: username,
                "__RequestVerificationToken": token,
            })
            alert("Make Payment successfully.");
            //alert(reportid);
            //alert(date);
           }
        catch (err) {
            alert( err.message);
        }

        clear();
        self.location.href = "/Report/";
        }
</script>
