﻿@model IEnumerable<e_bedding.Models.ItemsModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
}

<h3>@ViewData["Message"]</h3>
@if (SignInManager.IsSignedIn(User))
{
    <p id="username" style="display:none;">@UserManager.GetUserName(User)</p>
}

<form>
    <p>
        @*Item Name: <input type="text" name="SearchString" />*@
        <input type="text" name="category" value="@ViewData["category"]" style="display:none;" />
        @*<input type="text" name="itemband" />*@
        @Html.DropDownList("itemsType", "Select a Band")
        @*@Html.DropDownList("types", "Select a Value")*@
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.photo_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Band)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @if (SignInManager.IsSignedIn(User))
            {
                <th>
                    Quantity
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="result_@item.ID">
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.photo_url)" height="180" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td id="type">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td id="color">
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td id="bd">
                    @Html.DisplayFor(modelItem => item.Band)
                </td>
                <td id="prc">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>


                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        @*@Html.DropDownList("droplist", numlist)*@
                        <select id="qty_@item.ID">
                            <option value="n">0</option>
                            <option value="f">1</option>
                            <option value="s">2</option>
                            <option value="t">3</option>
                            <option value="t">4</option>
                            <option value="t">5</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" name="@item.ItemName" value="@item.ID" onclick="add(this)">
                            Add to chart
                        </button>
                        @* |<a asp-action="Edit" asp-route-id="@item.ID">Edit</a>*@
                    </td>
                }
                else
                {
                    <td></td>
                    <td>
                        @*<button type="button" class="btn btn-primary">Add to chart</button>*@
                    </td>
                }
            </tr>
        }
    </tbody>
</table>



<script>
    function add(btn) {
        var index = btn.value;
        var itemname = btn.name;
        var rs = document.getElementById("result_" + index)
        var sepc = rs.cells[3].innerText + " " + rs.cells[4].innerText + " " + rs.cells[2].innerText;
        var prc = rs.cells[5].innerText;
        var sel = document.getElementById("qty_" +index);
        var qty = sel.options[sel.selectedIndex].text;
        var token = $('@Html.AntiForgeryToken()').val();
        var username = document.getElementById("username").innerText;
        var totalprc = (prc * qty).toFixed(2);
        var myDate = new Date();
        var priID = myDate.getMinutes() + myDate.getSeconds() * myDate.getDate();
        if (qty == 0) {
            alert("Please select correct item quantity.")
            return;
        }
        try {
            //var link = "/Chart/Get?" + "ID=" + index + "&ItemName=" + itemname + "&Specification=" + sepc + "&Quantity=" + qty + "&Price=" + totalprc;
            //self.location.href = link;
            $.post('/Chart/Add/' + priID, {
                ID: priID,
                ItemID: index,
                ItemName: itemname,
                Specification: sepc,
                Quantity: qty,
                Price: totalprc,
                userEmail: username,
                "__RequestVerificationToken": token,
            })
            alert("Add " + qty + " " + itemname + " Into Chart.");
            //self.location.href = "/Chart/";
        }
        catch (err) {
            alert( err.message);
        }
        }
</script>
