﻿@model IEnumerable<e_bedding.Models.ItemsModel>

@{
    ViewData["Title"] = "Manage Items";
}

<h2>Manage Items</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.photo_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Band)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="reportid">
            <td>
                <img src="@Html.DisplayFor(modelItem => item.photo_url)" height="180" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td id="type">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td id="color">
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td id="bd">
                @Html.DisplayFor(modelItem => item.Band)
            </td>
            <td id="prc">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
