﻿@model List<string>
@{
    ViewData["Title"] = "List Blobs";
}

<h2>List Blobs</h2>

<ul>
    @foreach (var item in Model)
{
        string str = item;
        string[] sentences = str.Split("#");
        string[] filesext = sentences[0].Split(".");
    <li>
        <p>Filename: @sentences[0]</p>
        <div><p>Url: @sentences[1] </p></div>
       @if (filesext[1] == "jpg" || filesext[1] == "png" || filesext[1] == "gif" || filesext[1] == "webp")
       {
            <img src="@sentences[1]"height="250px" />
        }
    </li>
}
</ul>