﻿<h2>Uploading File</h2>

<ul>
    <li><a asp-area="" asp-controller="UploadFiles" asp-action="CreateBlobContainer">Create Blob container</a></li>
    <li><a asp-area="" asp-controller="UploadFiles" asp-action="UploadBlobPage">Upload files to Blob</a></li>
    <li><a asp-area="" asp-controller="UploadFiles" asp-action="ListBlobs">List Blob items</a></li>
 </ul>