﻿@{
    ViewData["Title"] = "Index";
}

<h2>Uploading File To Blob</h2>

<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data"
              asp-controller="UploadFiles" asp-action="Post">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more than one files using this form:</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" name="upload" value="Upload File" />
                </div>
            </div>
        </form>
    </section>
</div>

